<div class="headerWrap">
  <div class="dropdownSchool">
    <div class="logo">LOGO</div>
    <div class="selectSchool">숭실대학교 대시보드</div>
    <div class="downButton">
      <mat-icon class="downIcon">keyboard_arrow_down</mat-icon>
    </div>
  </div>
  <div class="blank"></div>
  <div class="dropdownProfile">
    <div class="profileIcon">
      <mat-icon class="downAccount">account_circle</mat-icon>
    </div>
    <div class="profileName">김블록님</div>
    <div class="downButton">
      <mat-icon class="downIcon">keyboard_arrow_down</mat-icon>
    </div>
  </div>
</div>
