<div class="dashboardContainer">
  <div class="dashboardHeader">
    <div class="choiceChips">
      <button class="choiceChip">매장 상품</button>
      <button class="choiceChip">주문 목록</button>
      <button class="choiceChip">카테고리 관리</button>
    </div>
    <div></div>
    <div class="enrollButton">
      <button class="productEnroll">상품 등록</button>
    </div>
  </div>
  <div class="dashboardBody">
    <div class="goBackButton">
      <button class="backButton"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <mat-icon class="bookIcon">library_books</mat-icon>
      <div class="schoolName">숭실대학교 서점</div>
    </div>
    <div></div>
    <div class="searchBarWrap">
      <input class="searchBar" placeholder="검색">
    </div>
  </div>
  <app-map-test></app-map-test>
</div>
